@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --constant-site-width: 980px;
}

* {
    font-family: 'open-sans','Helvetica','Georgia', serif;
    margin:0;
    padding:0;
    background-color: white;
    color:black;
}

a, button{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}


header{
    top:0;
    left:0;
    position: fixed;
    width: 80%;
    padding: 0 10%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: transform 0.3s ease;
}

header img{
    height:50px
}

.logo{
    cursor:pointer;
    margin-right: auto;
}

.navLink{
    list-style: none;
}

.navLink li{
    display: inline-block;
    padding: 0 20px;
}

.navLink li a{
    transition: all 0.3s ease 0s;
}

.navLink li a:hover{
    color: #000000;
}

header button{
    padding: 9px 25px;
    background-color: antiquewhite;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

header button:hover{
    background-color: blue;
}


.home{
    display: flex;
    height: 100vh;
    width: var(--constant-site-width);
    scroll-snap-align: start;
    margin-left: calc((100% - var(--constant-site-width)) / 2);
    margin-right: calc((100% - var(--constant-site-width)) / 2);
}


hr{
    margin: 0 12%;
    border: 0.1px solid rgb(149, 149, 149);
}

.leftdiv, .rightdiv{
    width:50%;
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.rightdiv img{
    width:100%;
}

.homewelcome{
    font-size: 4.5em;
    padding-bottom: 0.2em;
    color: rgb(255, 89, 37);
    font-weight: bolder;
}

.homeintro1{
    font-size: 3em;
    padding-bottom: 0.5em;
    font-weight: 280;
}

.homeintro2{
    font-size: 2em;
    padding-bottom: 0.3em;
    font-weight: lighter;
}

.homeintro3{
    font-size: 2em;
    font-weight: lighter;
}

footer{
    background-color: linear-gradient(#ff8928,#ffde22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    
}

.footerElement{
    margin-bottom:1em;
    background-color: transparent;
    font-size: 1.2em;
}

footer button{
    padding:18px 200px;
    border-radius: 10px;
    background-color: #fceed1;
}

footer button:hover{
    background-color: antiquewhite;
    color:white;
}

.firstFE{
    padding-top:0.8em;
    font-size: 2.8em;
    font-weight: bolder;
}

.lastFE{
    margin-top:auto;
}